---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from "./../../layouts/Layout.astro"

import Section from '../../components/Section.astro';
import Header from '../../components/Header.astro';
import Subheading from '../../components/Subheading.astro';
import Paragraph from '../../components/Paragraph.astro';

const talks = await getCollection('talks');
---
<Layout>
  <Section id="hero" classList="max-w-7xl mx-auto py-36 px-4">
		<Header>
			My Talks
		</Header>
		<Subheading classList={'max-w-2xl mt-6'}>
      Here, I share my experiences and insights from various conferences and tech events. Each talk is a journey through the vibrant world of software development, where I delve into topics like Laravel, API strategies, and the art of coding efficiently. Whether you're a seasoned developer or just starting out, there's something here to inspire and ignite your passion for tech. Join me as we explore the ever-evolving landscape of software engineering together!
		</Subheading>
	</Section>

  <Section id="talks" classList="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32">
    {talks.map(talk => (
      <article class="relative isolate flex flex-col gap-8 lg:flex-row py-4">
        <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
          <Image
            src={talk.data.image}
            alt={talk.data.title}
            height={200}
            width={100}
            class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover object-center"
          />
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div>
          <div class="flex items-center gap-x-4 text-xs">
            <a href="#" class="relative z-10 font-medium">
              {talk.data.type}
            </a>
          </div>
          <div class="group relative max-w-xl">
            <Subheading classList="font-semibold">
              <a href={`/talks/${talk.slug}`}>
                <span class="absolute inset-0"></span>
                {talk.data.title}
              </a>
            </Subheading>
            <Paragraph classList="mt-5">
              {talk.data.description}
            </Paragraph>
          </div>
        </div>
      </article>
    ))}
  </Section>
</Layout>