---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content';

import Paragraph from './Paragraph.astro';
import Subheading from './Subheading.astro';

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const image: string = `/images/articles/${post.data.image}`;
const url: string = `https://www.juststeveking.uk${Astro.url.pathname}`;
const imageUrl: string = `https://www.juststeveking.uk${image}`;

const { Content } = await post.render();
---

<article itemscope itemtype="https://schema.org/BlogPosting" itemid={url} class="flex max-w-xl flex-col items-start justify-between">
  <meta itemprop="image" content={imageUrl} />
  <meta itemprop="articleBody" />
  <div class="group relative space-y-4">
    <Subheading>
      <a itemprop="name" title={`Read: ${post.data.title}`} href={`/articles/${post.slug}`}>
        <span class="absolute inset-0"></span>
        {post.data.title}
      </a>
    </Subheading>
    <Paragraph classList="line-clamp-3">
      <span itemprop="description">{post.data.description}</span>
    </Paragraph>
  </div>
  <div class="relative flex items-center space-x-4 space-y-2">
    <Image
      src={'https://github.com/juststeveking.png'}
      alt="Steve McDougall"
      height={300}
      width={300}
      class="h-12 w-12 rounded-full"
    />
    <div class="text-sm leading-7 tracking-wide">
      <Paragraph classList="font-semibold">
        Steve McDougall
      </Paragraph>
      <Paragraph>
        Developer Relations @ Treblle
      </Paragraph>
    </div>
  </div>
</article>